language: go
go: 1.4

notifications:
  email: false

before_install:
  - go version
  - go get -u github.com/golang/lint/golint

install:
  - go get -t -d -v ./...
  - go build -v

script:
  - go test -v -race ./...
  - check_golint.sh
