version: "{build}"

os: Windows Server 2012 R2

clone_folder: c:\gopath\src\github.com\suma\ci-test-golang

environment:
  GOPATH: c:\gopath

install:
  - echo %PATH%
  - echo %GOPATH%
  - git submodule update --init --recursive
  - go version
  - go env
  - go get -u github.com/golang/lint/golint
  - go get -v -t -d ./...

build_script:
  - go test -v -race ./...
  - check_golint.sh
